* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Serif", sans-serif;
  }
  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100svh; /* Full viewport height */
  }
  
  body {
    background-color:#F3ECD8;
    color: #511A06;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
  
  main {
    text-align: center;
    align-items: center;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .logo {
    color: #F3ECD8;
  }
  .main-frame {
    background-color: #F8F5EC;
    align: center;
    border-radius: 1.5rem;
    width: 70vw; /* Default width at 70% of the viewport width */
    min-width: 60vw; /* Ensures it does not shrink below 60% */
    max-width: 80vw; /* Ensures it does not expand beyond 80% */
    margin: 40px auto; /* Centers the container */
    padding: 40px; /* Adds inner spacing */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* Hero Section */
  .hero {
    text-align: center;
    padding: 40px;

  }
  
  .hero img {
    width: 100%;
    max-width: 1200px;
    display: block;
    margin: auto;
  }
  
  /* Mission Statement */
  .mission {
    text-align: center;
    font-size: 1.5rem;
    margin: 40px auto;
    max-width: 800px;
  }
  
  /* Founders Section */
  .founders {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  
  .founders-content {
    width: 50%;
  }
  
  .founders-images img {
    width: 100px;
    height: auto;
    border-radius: 50%;
  }
  
  /* Introduction */
  .introduction {
    max-width: 800px;
    margin: auto;
    padding: 40px;
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Statement Section */
  .statement {
    text-align: center;
    font-size: 1.5rem;
    margin: 40px auto;
  }
  
  /* CTA */
  .cta {
    text-align: center;
    padding: 20px;
  }
  
  .cta a {
    color: brown;
    font-weight: bold;
  }

  /* Image banner styling */
.image-banner {
    mix-blend-mode: soft-light;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: env(safe-area-inset-bottom);
  }
  
  footer {
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }